.imageNName {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.userAcountMainDiv {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}


.ProfileImg {
    height: 250px;
    width: 250px;
    border-radius: 50%;

}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    
}

.div786565 {
    margin: 20px 15px;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    .imgDiv {
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 20vw;
        z-index: 2;
        border: 2px solid rgb(245, 245, 245);

    }

    .ProfileImg {
        width: 50vw;
        height: 50vw;


    }

    .imageNName {

        flex-direction: row;
        justify-content: first baseline;
        margin-top: 20px;
        gap: 15px;

    }

    .imageNName>div:nth-child(2) {

        font-size: 19px;
        font-weight: bolder;

    }


    #enNumber {
        text-align: center;
    }

    #ContentCopyIcon {
        font-size: 16px;
        padding-top: 2px;
    }

    .fakeDiv_userDetail {
        height: 250px;
    }

    .profileInfoDiv>button {
        margin-top: 20px;
    }

    .profileInfoDiv {
        padding-top: 20vw;
        overflow-y: hidden;
        border-radius: 10px 10px 0 0;

    }

    .profileInfoDiv2ed {
        
        border-radius: 0 0 10px 10px;
        padding:7px;

    }

    .div486623 {
        margin-top: -10px;

    }

    .div486623 h3 {
        margin-top: 20px;
        margin-bottom: 10px;

    }
}


.heightAuto {
    height: 500px;
    transition: all 0.5s;
}

.shrinkHeight {
    height: 195px;
    transition: all 0.5s;
}

.floadingOBJ1{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(102, 0, 255, 0.177);
    z-index: -1;
    top: 180px;
    left: 10px; 
    box-shadow: -1px 0px 96px 16px rgba(102, 0, 255, 0.344);
-webkit-box-shadow: -1px 0px 96px 16px rgba(102, 0, 255, 0.344);
-moz-box-shadow: -1px 0px 96px 16px rgba(102, 0, 255, 0.344);
}

.floadingOBJ2{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: rgba(255, 115, 0, 0.166);
    z-index: -1;
    top: 230px;
    right: 0; 
    box-shadow: -1px 0px 96px 16px rgba(255, 115, 0, 0.391);
-webkit-box-shadow: -1px 0px 96px 16px rgba(255, 115, 0, 0.391);
-moz-box-shadow: -1px 0px 96px 16px rgba(255, 115, 0, 0.391);
}

.floadingOBJ3{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 255, 42, 0.113);
    z-index: -1;
    bottom: 200px;
    left: 100px; 
    box-shadow: -1px 0px 96px 16px rgba(0, 255, 42, 0.391);
-webkit-box-shadow: -1px 0px 96px 16px rgba(0, 255, 42, 0.391);
-moz-box-shadow: -1px 0px 96px 16px rgba(0, 255, 42, 0.391);
}

.floadingOBJ4{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 0, 128, 0.116);
    z-index: -1;
    top: 400px;
    right: 30px;
    box-shadow: -1px 0px 96px 16px rgba(255, 0, 128, 0.34);
-webkit-box-shadow: -1px 0px 96px 16px rgba(255, 0, 128, 0.34);
-moz-box-shadow: -1px 0px 96px 16px rgba(255, 0, 128, 0.34);
}
.borderBotton-none{
    border-bottom: none;
}
.borderTop-none{
    border-top: none;
}
.textBtnColro{
    color: rgba(0, 0, 255, 0.814);
}