@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Inter:wght@500&family=Libre+Franklin&family=Poppins&display=swap');

.langing_page {
   display: grid;
   grid-template-columns: auto 500px;


}

.contentdiv {
   padding: 40px;
   min-height: 100vh;
}

.contentdiv>h1 {
   font-size: 50px;
   margin-bottom: 0;
   color: rgb(86, 0, 166);
   font-family: 'Libre Franklin', sans-serif;
}

.contentdiv>h3 {
   margin-bottom: 0px;
   color: rgb(0, 0, 0);
   font-family: 'Libre Franklin', sans-serif;
}


.lineHR {
   height: 3px;
   flex: 1;
   margin-top: 20px;
}

.credHeading {
   margin-bottom: 10px;
   margin-top: 10px;
   color: rgba(0, 0, 0, 0.724);
}

.creadDIv {
   padding: 30px;
   padding-right: 70px;
}

.contentdiv>p {
   font-size: 16px;
   
   color: rgba(0, 0, 0, 0.866);
   font-family: 'Inter', sans-serif;
   margin: 0;
   margin-right: 100px;
}


.credDiv {
   border: 1px solid blueviolet;
   border-radius: 5px;
   padding: 5px 20px;
   width: 270px;
   background-color: rgba(132, 0, 255, 0.139);

}


.subTitile {
   color: rgba(0, 0, 0, 0.599);
   font-family: 'Inter', sans-serif;

}

.iframeBox{
   height: 100vh;

}

.iframe {
   position: fixed;
   background-color: white;
   margin: auto;
   width: 360px;
   height: 700px;
   border-radius: 25px;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

}



.langingBTN {
   width: auto;
}




.container {
   width: 100%;
   height: 200px;
   display: flex;
   align-items: last baseline;
   justify-content: center;

}

.field {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 300px;
}

.patternBG {
   position: fixed;
   z-index: -1;
   right: 0;
   height: 100vh;
   width: 500px;

}

.credDiv>span:nth-child(1) {
   user-select: auto;
   -webkit-user-select: auto;
   -ms-user-select: auto;

   font-family: 'Handjet', cursive;
   color: rgb(132, 0, 255);

}


.snith {
   background-color: rgba(130, 0, 252, 0.081);
   border-color: blueviolet;
}

.creadPlaceholder {
   color: rgba(0, 0, 0, 0.616);
}

@media only screen and (max-width: 768px){
   .langing_page{
      display: flex;
      flex-direction: column;
      
   }
   .iframe{
      position: static;
   }
   .div4565463{
      
      flex-direction: column;
   }
   .contentdiv>p{
      margin: 0;
   }
   .contentdiv{
      height: auto;
      box-shadow: none;
      padding: 20px;
   }
   .creadDIv{
      margin-right: 30;
   }
   .contentdiv>h1 {
      font-size: 40px;
     
   }
   .credDiv{
      width: auto;
   }
   
}

.displayNone_destok{
   display: none;
}
@media only screen and (max-width: 1390px){
   .displayNone_mobile{
      display: none;
   }
   .displayNone_destok{
      display: block;
   }
}

 