.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    font-size: 16px;
  }
  
  .LoginSignUpBox {
    width: 25vw;
    height: 70vh;
    min-width: 300px;
    min-height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    
  }
  .login_signUp_toggle {
    display: flex;
    height: 3vmax;
  }
  .login_signUp_toggle > p {
    color: rgb(0, 0, 0);
    
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .login_signUp_toggle > p:hover {
    color: #8a2be2;
  }
  
  .LoginSignUpBox > div > button {
    background-color: #8a2be2;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }
  
  .loginForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
  }
  
   
  
 
  
  .loginBtn,
  .signUpBtn {
    border: none;
    background-color: #8a2be2;
     width: 100%;
    padding: 0.8vmax;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .loginBtn:hover,
  .signUpBtn:hover {
    background-color: #8a2be2;
  }
  
  .shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }
  
  @media screen and (max-width: 600px) {
   
    .LoginSignUpBox {
      width: 95vw;
      height: 70vh;
      
    }
    .login_signUp_toggle {
      height: 5vmax;
    }
    .login_signUp_toggle > p {
     }
  
    .loginForm,
    .signUpForm {
      padding: 5vmax;
    }
  
     
  
    .loginBtn,
    .signUpBtn {
       padding: 1.8vmax;
    }
  }

.checkBox_lable{
  display: flex;
  flex-direction: row;
  justify-content: start;
 }

.forgetLink{
   margin-left: auto;
   font: 500 2vmax "Gill Sans";
}
 
 

 